
body {
    font-family: Arial, Helvetica, sans-serif;
       
    }
    
    h2{
        font-size: 40px;
        padding-top: 40px;
        color: #707070;
    }
    
    h3{
        font-size: 20px;
    }
    
    td{
        padding-right: 10px;
    }
    
    .page{
        width: 2000px;
        margin: auto;
        background-color: #e2e6ea;
        padding: 20px;
    }
    
    .box {
        background-color: #70747c;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        box-shadow: 1px 1px 2px #333;
    
    }
    
    .options{
        width: 100px;
        display: flex;
      
    }
    
    .wrapper {
        padding-top: 20px;
        display: grid;
        grid-gap: 100px;
        margin: auto;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: 400px 400px 400px;
        grid-auto-flow: row;
    }
    
    .wrapper .content{
        color: #fff;
        margin-top: 60%;
        height: 180px;
        font-size: 15px;
    }
    
    /*Dropdown*/
    
    .dropbtn {
      background-color: transparent;
      color: #333;
      padding: 13px;
      padding-right: 80px;
      font-size: 16px;
      border: 1.4px solid #333;
      cursor: pointer;
      border-radius: 4px;
     
    }
    
    
    .dropdown {
      position: relative;
      display: inline-block;
      padding-right: 10px;
    }
    
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .button {
      background-color: #333;
      border: none;
      color: white;
      padding: 13px;
      padding-left: 90px;
      white-space: nowrap ;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 3px;
      font-weight: bold;
     
    }